<h2>Eventos</h2>

<hr />

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="input-group mb-3">
        <span class="input-group-text">Filtro:</span>
        <input
          type="text"
          class="form-control"
          placeholder="buscar"
          [(ngModel)]="filtroLista"
        />
      </div>
    </div>
  </div>
</div>

<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>
        <button
          (click)="alterarImagem()"
          type="button"
          class="btn btn-outline-light btn-sm"
        >
          {{ exibirImagem ? 'Exibir' : 'Esconder' }}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <img
          [collapse]="exibirImagem"
          [isAnimated]="true"
          class="fotosEventos img-fluid"
          src="/assets/fotosEventos/{{ evento.imagemURL }}"
          alt=""
        />
      </td>
      <td>{{ evento.eventoId }}</td>
      <td>{{ evento.tema }}</td>
      <td>{{ evento.local }}</td>
      <td>{{ evento.dataEvento }}</td>
      <td>{{ evento.qtdPessoas }}</td>
      <td>{{ evento.lote }}</td>
      <td>
        <div class="btn-group" role="group" aria-label="Opções">
          <button type="button" class="btn btn-primary btn-sm me-2">
            Editar
          </button>
          <button type="button" class="btn btn-danger btn-sm">Excluir</button>
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum evento encontrado!</h4>
      </td>
    </tr>
  </tfoot>
</table>
